#main {
  background-color: white;
}
#header {
  background-color: #001f3f;
}
#h3 {
  color: #001f3f;
}
#cp-h3 {
  padding-top: 21px;
  color: #001f3f;
}
#back-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 2rem;
}
#resume-link {
  position: absolute;
  bottom: 0;
}

/* RECENT WORK STYLING */

#container {
  margin: 5rem;
}
#work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
}
.list-item {
  padding-bottom: 5rem;
}
img {
  max-width: 20rem;
  max-height: 15rem;
}