#main {
  background-color: white;
}
#header {
  background-color: #001f3f;
}
#h3 {
  color: #001f3f;
}
#cp-h3 {
  padding-top: 21px;
  color: #001f3f;
}
.personal-pic {
  height: 13rem;
  width: 12rem;
  border-radius: 50%;
}
